
body{
    background-color: #325d37;

}


h1 {
    background-color:lightgreen;
}


.cabecalho img {

 width: 700px;

}

.content img {
    width: 200px;
}

#n {
    background-color:lightgreen;
}

.background-image {
    background-image: url("./download\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1500px;
  }
  
  .content {
    text-align: center;
    color: #fff;
  }
