
body{
  background-image: url(../img/img02.jpg);
  background-repeat: no-repeat;
  background-size:cover;

    }


h1 {
    background-color:lightgreen;
}


.cabecalho img {

 width: 700px;

}

.content img {
    width: 200px;
}

#n {
    background-color:lightgreen;
}

#imagem {

    width: 300px;
}

.rodape ol {

    background-color: rgb(168, 231, 164);
}
.rodape h3 {
  background-color: white;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}