@import url("./cabecalho.css");
@import url("./conteudo.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Geologica', sans-serif;
    font-size: 62.7%;
}

input{
    display: none;
}

body{
    background-color: #eae7e2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* footer */
footer{
    background-color: #dcd3ba;
}

.rodape{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    font-size: 1.4rem;
}

.rodape ul{
    width: 25%;
    text-align: justify;
    padding: 2%;
    margin-left: -1%;
}

.rodape ul li > a{
    color: black;
}

.rodape h3{
    margin-bottom: 16px;
}

.rodape .redes-sociais img{
    margin-right: 10px;
    width: 8%;
    height: auto;
}

.rodape .redes-sociais{
    width: auto;
}

.rodape ul > p{
    margin-bottom: 38px;
}

.rodape li{
    list-style: none;
    margin: 10px 0;
}

.interno{
    margin: 0 auto;
    width: 870px;
    height: auto;
    overflow: hidden;
    padding: 2% 5% 2% 0;
    font-size: 1.6rem;
}

.interno h2{
    margin-bottom: 20px;
}

.interno img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.conteudo img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 8px 8px 5px 0px rgba(112, 109, 109, 0.75);
}
